.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banner {
  padding-top: 3em;
}

body {
  background-color: #CBCBCB;
}

.text-center {
  text-align: center;
}

.rule {
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: #606060;
  user-select: none;
}

.rules-container {
  border: 2px solid black;
  height: 150px;
  overflow: auto;
}



.delete-property {
  color: #ff6666;
  font-size: 200%;
  padding-right: .5em;
}

.delete-property:hover {
  color: #cc0000;
}

.operator {
  text-align: center;
  min-width: 5em;
  max-width: 5em;
}

.operand::placeholder {
  color: #b4b4b4;
}

.output {
  height: 22em;
}

.color {
  min-width: 6em;
  max-width: 10em;
}

.column {
  max-width: 5em;
}

.center-input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon {
  cursor: pointer;
  user-select: none;
}

.new-property-link {
  font-size: 19px;
  color: #5078FF;
  text-decoration: underline;
  cursor: pointer;
}

.new-property-link:hover {
  color: blue;
}

.remove-text-highlighting {
  user-select: none;
}

.label {
  font-size: 13pt;
  padding-top: .5em;
}

.nav-bar {
  font-size: 16pt;
}

.Property:nth-child(odd) {
  background-color: lightgrey;
}

.nav-button {
  background-color: lightgrey;
  border-radius: 10px;
  width: 10em;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-button:hover {
  background-color: #B8B8B8;
}

.field-type {
  max-width: 15em;
}

.padded-row {
  padding: .75em .75em;
}

.add-remove-property-button {
  min-width: 12em;
}


@media (min-width: 992px){
  .nav-button {
      width: 15em;
      margin-left : 5em;
      margin-right : 5em;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
