.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banner {
  padding-top: 3em;
}

body {
  background-color: #CBCBCB;
}

.text-center {
  text-align: center;
}

.rule {
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: #606060;
  user-select: none;
}


.rules-container {
  border: 2px solid black;
  height: 150px;
  overflow: auto;
}

.operator {
  text-align: center;
  min-width: 5em;
  max-width: 5em;
}

.operand::placeholder {
  color: #b4b4b4;
}

.output {
  height: 22em;
}

.color {
  min-width: 6em;
  max-width: 10em;
}

.column {
  max-width: 5em;
}

.center-input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
