.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banner {
  padding-top: 3em;
}

body {
  padding-top: 5px;
  padding-bottom: 65px;
  background: linear-gradient(to bottom right, lightblue, lightseagreen) fixed;
}

.App {
  border-radius: 10px;
  background-color: #CBCBCB;
  background: linear-gradient(to bottom right, #CBCBCB, lightgrey);
}

.text-center {
  text-align: center;
}

.rule {
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: #606060;
  user-select: none;
}

.rules-container {
  border: 2px solid black;
  height: 150px;
  overflow: auto;
}

.delete-property {
  color: #ff6666;
  font-size: 200%;
  padding-right: .5em;
}

.delete-property:hover {
  color: #cc0000;
}

.operator {
  text-align: center;
  min-width: 5em;
  max-width: 5em;
}

.operand::placeholder {
  color: #b4b4b4;
}

.output {
  height: 22em;
}

.color {
  min-width: 6em;
  max-width: 10em;
}

.column {
  max-width: 5em;
}

.center-input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon {
  cursor: pointer;
  user-select: none;
}

.new-property-link {
  font-size: 19px;
  color: #5078FF;
  text-decoration: underline;
  cursor: pointer;
}

.wrap-value {
  height: 2.5em;
}

.help-link {
  font-size: 19px;
  color: #5078FF;
  cursor: pointer;
}

.new-property-link:hover {
  color: blue;
}

.remove-text-highlighting {
  user-select: none;
}

.label {
  font-size: 13pt;
  padding-top: .5em;
}

.nav-bar {
  font-size: 15pt;
  text-decoration: none;
  color: grey;
  user-select: none;
}


.property:nth-child(odd) {
  background-color: lightgrey;
}

.property:nth-child(even) {
  background-color: #B8B8B8;
}

.nav-bar-top {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt;
}

.nav-button {
  background-color: #d3d3d3;
  border-radius: 10px;
  min-width: 7em;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-button:hover {
  background-color: #B8B8B8;
}

.field-type {
  max-width: 15em;
}

.text-content {
  max-width: 15em;
}

.padded-row {
  padding: .75em .75em;
}

.add-remove-property-button {
  min-width: 12em;
  margin: 4px;
}

.condition-button {
  margin: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.modal-ok-button {
  width: 7em;
}

.fa {
  padding: .5em;
  font-size: 25px;
  width: 1.75em;
  height: 1.75em;
  text-align: center;
  text-decoration: none !important;
  margin: 4px;
  margin-bottom: 0px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.side-info {
  background-color: lightblue;
  width: 1.5em;
  min-height: 6em;
  position: relative;
  cursor: default;
}

.side-info span {
  /* Change to flexbox later */
  top: 50%;
  left: .75em;
  transform-origin: left;
  position: absolute;
  text-overflow: hidden;
  white-space: nowrap;
  transform: rotate(-90deg) translate(-2em, 0);
}

.properties-color {
  background-color: lightblue;
}

.attributes-color {
  background-color: lightcoral;
}


.customRowActions-color {
  background-color: lightgreen; 
}


@media (min-width: 992px){
  .nav-button {
      width: 15em;
      margin-left : 5em;
      margin-right : 5em;
  }
}

@media (max-width: 500px){
  .nav-button {
    margin-left: .5em;
    margin-right: .5em;
  }

  .nav-button.copy {
    width: 9em;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
